.settings-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #000, $alpha: 0.4);
  // .settings-modal__body
  &__body {
    padding: 20px;
    background: #eee;
    border-radius: 10px;
    // width: 400px;
    max-width: 100%;
    display: grid;
    position: relative;
  }
  // .settings-modal__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
  }
  // .settings-modal__title
  &__title {
    font-size: 30px;
  }
  // .settings-modal__close-button
  &__close-button {
    font-size: 2rem;
    color: red;
  }
  // .settings-modal__actions
  &__actions {
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.4);
    border-top: 1px solid rgba($color: #000, $alpha: 0.4);
    padding: 20px 0px;
    margin: 0px 0px 20px 0px;
  }
}
.actions-settings-modal {
  // .actions-settings-modal__title
  &__title {
    margin: 0px 0px 10px 0px;
  }
  // .actions-settings-modal__body
  &__body {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    column-gap: 30px;
  }
  // .actions-settings-modal__item
  &__item {
    display: grid;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    row-gap: 10px;
  }
  // .actions-settings-modal__name
  &__name {
    font-size: 20px;
  }
  // .actions-settings-modal__input
  &__input {
    color: #fff;
    background: rebeccapurple;
    padding: 5px;
    border-radius: 5px;
  }
  // .actions-settings-modal__apply-button
  &__apply-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    background: orange;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  // .actions-settings-modal__count
  &__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rebeccapurple;
    border-radius: 10px;
    padding: 10px;
  }
}
.count-actions-settings-modal {
  // .count-actions-settings-modal__inc
  &__inc {
    background: transparent;
  }
  // .count-actions-settings-modal__body
  &__body {
    background: rebeccapurple;
    color: #fff;
  }
  // .count-actions-settings-modal__dec
  &__dec {
    background: transparent;
  }
  // .count-actions-settings-modal__buttons
  &__buttons {
    display: grid;
    row-gap: 5px;
  }
}
